<!DOCTYPE html>
<html>
  <head>
    <title>Image Upload Example</title>
    <!-- Link to Bootstrap CSS file -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">Upload an Image</h1>
      <form  action="{{ url_for('imageClassiffication') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="image">Select an image:</label>
          <input type="file" class="form-control-file" id="image" name="image" accept="image/*">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
    
    <!-- Link to Bootstrap JS file -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-XXXXXXX"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
